@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Grades</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="StundetGradeApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Student Grades List", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1>Student Grades</h1>
    </div>
    <div ng-controller="StudentGradeController">
        <table class="tableData">
            <tr>
                <th>Student</th>
                <th>Language & Arts</th>
                <th>Science</th>
                <th>Social Studies</th>
                <th>Maths</th>
            </tr>
            <tr ng-repeat="e in regData" ng-class-even="'even'" ng-class-odd="'odd'">
                <td>{{e.Student}}</td>
                <td>{{e.LanguageArts}}</td>
                <td>{{e.Science}}</td>
                <td>{{e.SocialStudies}}</td>
                <td>{{e.Maths}}</td>
            </tr>
        </table>
        <br />
        <div class="container">
            <label>Marks greater than:</label>
            <input matInput placeholder="Mark" ng-model="markValue" value="0">
            <button ng-click="getByMark()" mat-raised-button>Filter</button>
        </div>
        <br />
        <div class="container">
            <label>Student Name is:</label>
            <input matInput placeholder="Name" ng-model="studentName" value="0">
            <button ng-click="getByStudentName()" mat-raised-button>Filter</button>
        </div>
        <br />
        <div class="container">
            <label>Filter by Mark and Student:</label>
            <button ng-click="getByCustomFilter()" mat-raised-button>Filter</button>
        </div>
    </div>
    <br />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/StudentGrades.js"></script>
</body>
</html>
